.chatListFixed {
  position: fixed;
  top: 115px;
}

.chatListFixed input {
  width: 115px;
}

.chatListFixed .inputTextField {
  margin-left: 8px;
}

.chats {
  grid-area: chatlist;
  padding-inline-start: 0;
  margin-left: 20px;
}

.chats li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.chats li a {
  text-decoration: none;
  color: rgb(34, 120, 233);
  transition: all .2s;
}

.chats li a:hover {
  color: gray;
}

.chats li button {
  display: none;
}

.chats li:hover button {
  display: flex;
}