.chats {
  grid-area: chatlist;
  padding-inline-start: 0;
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
  top: 115px;
}

.chats li {
  list-style-type: none;
}

.chats li a {
  text-decoration: none;
  color: rgb(34, 120, 233);
  transition: all .2s;
}

.chats li a:hover {
  color: gray;
}