.chatListFixed {
  position: fixed;
  top: 115px;
  width: 178px;
  max-height: 480px;
  overflow: auto;
}

.chatListFixed input {
  width: 115px;
}

.chats {
  grid-area: chatlist;
  padding-inline-start: 0;
  margin-left: 20px;
  word-break: break-all;
}

.chats li {
  list-style-type: none;
  display: flex;
  align-items: center;
  position: relative;
}



.chats li a {
  text-decoration: none;
  color: rgb(34, 120, 233);
  transition: all .2s;
  margin-right: 20px;
}

.chats li a.selected {
  color: aqua;
}

.chats li a:hover {
  color: gray;
}

.chats li button {
  display: none;
  position: absolute;
  right: 0;
}

.chats li:hover button {
  display: flex;
}

.form {
  text-align: center;
}