.login {
  text-align: center;
}

.toggleLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.toggleLogin a {
  color: rgb(34, 120, 233);
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formLogin label {
  font-size: 22px;
}

.formLogin input {
  padding: 6px;
  font-size: 16px;
}

.formLogin span {
  color: red;
  font-size: 19px;
  width: 400px;
}

.btnLogin {
  padding: 10px 20px;
  margin: 15px;
  background: rgb(34, 120, 233);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnLogin:hover {
  opacity: 0.8;
}