.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "link link link"
    "chatlist line messages";
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 400px;
  margin: 50px auto;
  height: 550px;
  background: white;
  padding: 20px;
  overflow: auto;
  border-radius: 12px;
  gap: 10px;
  grid-template-rows: 50px;
  border: solid 4px rgb(34, 120, 233);
}

.Link {
  grid-area: link;
}

.Link a {
  text-decoration: none;
  color: rgb(34, 120, 233);
  font-size: 30px;
  transition: all .2s;
}

.Link a:hover {
  color: rgb(3, 40, 88);
}

.line {
  grid-area: line;
}


.App-content {
  display: flex;
  justify-content: space-between;
  grid-area: messages;
}

.Messages {
  display: flex;
  flex-direction: column;
}