.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "link link link"
    "chatlist messages messages";
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 400px;
  margin: 50px auto;
  height: 550px;
  background: white;
  overflow: auto;
  border-radius: 12px;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 2fr;
  border: solid 4px rgb(34, 120, 233);
}

.Link {
  grid-area: link;
  outline: solid 1px rgb(0 0 0 / 23%);
  position: sticky;
  top: 0;
  background: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Link a {
  text-decoration: none;
  color: rgb(34, 120, 233);
  font-size: 30px;
  transition: all .2s;
}

.Link a:hover {
  color: rgb(3, 40, 88);
}

.App-content {
  display: flex;
  justify-content: space-between;
  grid-area: messages;
}

.Messages {
  display: flex;
  flex-direction: column;
  color: white;
  background: radial-gradient(circle, rgba(115, 57, 170, 0.7567401960784313) 0%, rgba(7, 137, 150, 0.8575805322128851) 49%, rgba(139, 134, 182, 0.8323704481792717) 74%, rgba(0, 212, 255, 0.7595413165266106) 100%);
}